<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zteam</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="titulo">
        <div class="boton">
            <button class="boton_menu">
                <img src="/imagenes/zteam.png" class="boton_menu2">
            </button>
        </div>
        <h1 class="el_titulo">Zteam </h1>
        <nav class="menu"> 
        <button class="botones"> <a href="/" class="subrayado"> Inicio </a>  </button>

        <button class="botones"> <a href="/nuevo" class="subrayado">Nuevo juego </a></button>
        </nav>
    </div>
  
</body>
</html>